.App {
  text-align: center;
}

:root {
	--background: #718093;
	--phone-core: #2f3640;
	--phone-peri: #f5f6fa;
	--phone-btn: #dcdde1;
	--shadow: rgba(47, 54, 64, 0.5);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: var(--background);
}

.mobile {
	position: relative;
	width: 270px;
	height: 480px;
	background: var(--phone-core);
	box-shadow: 8px 48px 32px 8px var(--shadow);
}

.top {
	position: absolute;
	top: -50px;
	width: 100%;
	height: 50px;
	background: var(--phone-peri);
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
}

.top:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translateY(-50%);
	width: 8px;
	height: 8px;
	background: var(--phone-btn);
	border-radius: 50%;
}

.top:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 48px;
	height: 8px;
	background: var(--phone-btn);
	border-radius: 4px;
}

.bottom {
	position: absolute;
	bottom: -50px;
	width: 100%;
	height: 50px;
	background: var(--phone-peri);
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
}

.bottom:before {
	content: "";
	position: absolute;
	background: var(--phone-btn);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 16px;
	height: 16px;
	border-radius: 50%;
}
.opening{
  height: 50%;
  width: 50%;
  
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.search {
  width: 80%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 80%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  
margin-top: 10px;
  
}

.map-container {
    
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    }
.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #ffffff;
    padding: 6px 12px;
    font: 15px/24px monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
    }